/*B1: Thiết lập thông số chung*/

* {
    font-family: 'Open sans';
    font-size: 20px;
    color: rgb(26, 25, 25);
}

.Session05-6 h3 {
    font-size: 35px;
}

.Session05-6 .syntax {
    background-color: #ededed;
    color: hsl(346.58deg 67.93% 53.53%);
}

.Session05-6 .demo-figure {
    border: 4px solid green;
    text-align: center;
    line-height: 4;
}

.Session05-6 .demo-code {
    background-color: rgb(229 233 237);
    padding: 20px;
    margin-top: 40px;
}

.demo-code h4 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.demo-code .code-content {
    background-color: white;
    border-left: 4px solid green;
    padding: 10px;
}

.code-content p:nth-child(4) {
    margin-bottom: 0;
}

.code-content p:nth-child(2) {
    margin-left: 20px;
}

.code-content p:nth-child(3) {
    margin-left: 20px;
}

.demo-code .click-end button {
    margin-top: 15px;
    background-color: rgb(7 167 109);
    border-radius: 3px;
    line-height: 3;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-inline: 25px;
}