* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

div {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    background-color: rgb(38, 38, 189);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}