* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

nav {
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    padding: 23px;
    align-items: center;
    gap: 8px;
}

nav .logo p {
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    font-weight: bolder;
    font-size: 20px;
}

nav .download {
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    height: 56px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .menu {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 16px 0 16px 16px;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }

    nav .download {
        display: none;
    }

    nav .menu {
        display: block;
        border: none;
        padding-right: 16px;
    }
}


header {
    padding: 60px 80px;
    display: flex;
}

header .intro {
    padding: 110px 0 110px 32px;
    width: 600px;
}

header .hello {
    font-size: 48px;
    line-height: 56px;
}

header .content1 {
    font-size: 16px;
    padding-top: 32px;
} 

header .picture {
    right: 100px;
    top: 20px;
}

header .icon {
    display: flex;
    gap: 32px;
    padding-top: 74px;
}


.skill {
    padding: 60px 80px;
}

.skill .my-skill {
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px; 
    gap: 16px;
}

.skill .row {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.skill .row .box {
    width: 186px;
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border: 2px solid black;
    border-radius: 4px;
}

.skill img {
    padding-top: 37px;
}

.skill p {
    font-size: 20px;
}


.experience {
    background-color: black;
    padding: 60px 136px;
    color: white;

}

.experience .my-experience {
    font-size: 48px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.experience .content2 {
    width: 1216px;
    height: 720px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 60px;
    align-items: center;
}

.experience .content2-1 {
    border: 1px solid #71717A;
    border-radius: 10px;
    padding: 30px 27px;
}

.experience .content2-1 .google {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience .content2-1 .google-child {
    display: flex;
    align-items: center;
    gap: 30px;
}

.experience .content2-1 .google-child p {
    font-size: 24px;
}

.experience .content2-1 .google .year {
    font-size: 16px;
}

.experience .content2-1 .paragrap {
    font-size: 16px;
    line-height: 24px;
    padding-top: 28px;
}

footer {
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

footer .end-left {
    display: flex;
    align-items: center;
}

footer .end-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}