* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7f7f7f;
}

.all {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    border: 0px solid rgb(54, 54, 54);
    margin: 50px;
    background-color: white;
}

.end {
    background-color: #198754;
}

.head h5 {
    padding-right: 365px;
    font-size: 20px;
}

.head {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 20px;
}


